params{
    summary_stats = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/testdata/saige_results_covid_1.csv'
    snp_col_name = 'SNPID'
    pval_col_name = 'p.value'
    sample_size = 150
    ref_panel_bed = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bed'
    ref_panel_bim = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bim'
    ref_panel_fam = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.fam'
    ref_panel_synonyms = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.synonyms'
    gene_loc_file = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/testdata/NCBI37.3/NCBI37.3.gene.loc'
    set_anot_file = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/msigdb/c2.cp.reactome.v7.2.entrez.gmt'
    outdir = 'results'
}
