params{
    vcf_file = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/testdata/vcfs.csv'
    gene_loc_file = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/testdata/NCBI37.3/NCBI37.3.gene.loc'
    set_anot_file = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/gwasgsa/msigdb/c2.cp.reactome.v7.2.entrez.gmt'
    outdir = 'results'
}
